/* TODO: Upstream this to catppuccin */

window#osd {
  border-radius: 999px;
  border: none;
  background: alpha(#1e1e2e, 0.8);
}
#container {
  margin: 16px;
}
progressbar:disabled,
image:disabled {
  opacity: 0.5;
}
progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}
trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#eba0ac, 0.5);
}
progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #eba0ac;
}
