/* FIXME: Needs to be cleaned up more. */

@define-color cc-bg rgba(24, 24, 37, 0.9);
@define-color noti-border-color rgb(235, 160, 172);
@define-color noti-border-color-low rgb(108, 112, 134);
@define-color noti-border-color-critical rgb(243, 139, 168);
@define-color noti-bg rgba(24, 24, 37, 0.9);
@define-color noti-bg-opaque rgb(24, 24, 37);
@define-color noti-bg-darker rgb(17, 17, 27);
@define-color noti-bg-hover rgb(30, 30, 46);
@define-color noti-bg-hover-opaque rgb(30, 30, 46);
@define-color noti-bg-focus rgba(30, 30, 46, 0.6);
@define-color noti-close-bg rgb(49, 50, 68);
@define-color noti-close-bg-hover rgb(69, 71, 90);
@define-color text-color rgb(205, 214, 244);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(235, 160, 172);

* {
  color: @text-color;
}

.notification-row:focus, .notification-row:hover {
  background: @noti-bg-focus;
}

.close-button, .notification-group-collapse-button, .notification-group-close-all-button {
  background: @noti-close-bg;
}
.close-button:hover, .notification-group-collapse-button:hover, .notification-group-close-all-button:hover {
  background: @noti-close-bg-hover;
}

.notification-row .notification-background .notification {
  border-color: @noti-border-color;
  border-width: 1.5px;
  background: @noti-bg;
}

.notification-row .notification-background .notification.low {
  border-color: @noti-border-color-low;
}

.notification-row .notification-background .notification.critical {
  border-color: @noti-border-color-critical;
  border-width: 2px;
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification .notification-default-action:hover {
  background: @noti-bg-hover;
}


.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: 14pt;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: 10pt;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: 12pt;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  color: @text-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  color: @text-color-disabled;
  border: 1px solid @noti-border-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: @noti-bg-hover;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border-top: 1px solid @noti-border-color;
  border-right: 1px solid @noti-border-color;
}

.notification-group-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.notification-group-icon {
  -gtk-icon-transform: scale(0.75);
}

.notification-group.collapsed .notification-row .notification {
  background-color: @noti-bg-opaque;
}
.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: @noti-bg-hover;
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: @cc-bg;
  color: @text-color;
  padding: 3px 6px;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @noti-bg-hover;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
  color: @text-color;
  margin: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  font-weight: bold;

  border-bottom: 1px solid rgb(108, 112, 134);
}

.widget-title > button {
  color: @text-color;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
}

.widget-title > button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  color: @text-color;
  margin: 4px 8px;
}

.widget-dnd > switch {
  background: @noti-bg;
  border: 1px solid @noti-border-color;
}

.widget-dnd > switch:checked {
  background: @bg-selected;
}

.widget-dnd > switch:checked image {
  color: @noti-bg;
}

.widget-dnd > switch slider {
  border: 1px solid @noti-border-color;
  background: @noti-bg-hover;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(17, 17, 27, 0.25);
@define-color mpris-button-hover rgba(205, 214, 244, 0.25);

.widget-mpris .widget-mpris-player {
  padding: 8px;
  margin: 8px 10px;
  background-color: @mpris-album-art-overlay;
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @noti-bg-hover;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background-color: @mpris-button-hover;
}

/* Inhibitors widget */
.widget-inhibitors {
  margin: 4px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  color: @text-color;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
}

.widget-inhibitors > button:hover {
  background: @noti-bg-hover;
}
